@page
@model asp_presentacion.Pages.Ventanas.ProductosModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div align="left">
                <h3>Productos</h3> @* <!--Titulo -->  *@
            </div>
            @* Botones Reflescar , nuevo , guardar , cancelar *@

            <div align="left"
                 class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" /> @* Esta hacion vuelve a listar la tabla *@
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>
            @* si la accion es diferente a listar o igual a borrar utilice Obtenga su ID *@
            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.ID" />

            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Nombre" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Precio_Compra" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Cantidad_Embase" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Descripcion" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Precio_Venta" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Stock" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Imagen" />
            }
            @*   Menu que aparece cuando se da nuevo y editar*@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Productos</h3>
                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Imagen
                            </label>
                            @if (Model.Actual!.Imagen!= null)
                            {
                                <img height="100" 
                                    width="100" 
                                    src="data:image;base64.
                                    @System.Convert.ToBase64String(lib_dominio.Nucleo.EncodingHelper.ToBytes(Model.Actual!.Imagen))"/>
                                
                            }
                            <input type="file" class="form-control" asp-for="FormFile"/>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nombre
                            </label>
                            <div class="col-lg-6">
                                <input id="nmEstudiante"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Nombre" /> @* Si en actual tiene un registro pone la info(Nombre) si no lo deja en blanco *@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Precio Compra
                            </label>
                            <div class="col-lg-6">
                                <input id="nmMateria"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Precio_Compra" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Cantidad 
                            </label>
                            <div class="col-lg-6">
                                <input id="nmMateria"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Cantidad_Embase" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Descripcion
                            </label>
                            <div class="col-lg-6">
                                <input id="nmMateria"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Descripcion" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Precio venta
                            </label>
                            <div class="col-lg-6">
                                <input id="nmMateria"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Precio_Venta" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Stock
                            </label>
                            <div class="col-lg-6">
                                <input id="nmMateria"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Stock" />
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }
            @* Si se da a borrar un registro *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>
                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Nombre
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }
            @* si la accion es listar o despues de borrar lista los valores de la tabla *@
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flNombre"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Nombre"
                       placeholder="Nombre" />
                <br />
                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered tablehover">
                        <tr>
                            <th>
                                Imagen
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Precio compra
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Descripcion
                            </th>
                            <th>
                                Precio Venta
                            </th>
                            <th>
                                Stock
                            </th>
                            <th class="cl_actions">
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @* Busca cada elemento de la lista que le mandaron lib?presentaciones *@
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td >
                                        @if (elemento.Imagen!=null)
                                        {
                                            <img height="100" width="100" src="data:image;base64,@System.Convert.ToBase64String(lib_dominio.Nucleo.EncodingHelper.ToBytes(elemento.Imagen))"/>
                                        }
                                    </td>
                                    <td>
                                        @elemento.Nombre
                                    </td>
                                    <td>
                                        @elemento.Precio_Compra
                                    </td>
                                    <td>
                                        @elemento.Cantidad_Embase
                                    </td>
                                    <td>
                                        @elemento.Descripcion
                                    </td>
                                    <td>
                                        @elemento.Precio_Venta
                                    </td>
                                    <td>
                                        @elemento.Stock
                                    <td>
                                        <input type="submit"
                                               value="Modicar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.ID" />
                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.ID" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>